div#show-image {
    position: relative;
    float:left;
}
div#show-image:hover img{
    opacity:0.5;
}
div#show-image:hover button {
    display: block;
    width: 3em;  height: 2em;
}
div#show-image button {
    position:absolute;
    display:none;
    width: 3em;  height: 2em;
}
div#show-image button#editproduk {
    top:0;
    left:0;
}
div#show-image button#hapusproduk {
    top:0;
    right:0;
}